.grid {
  display: grid;
  gap: var(--spacing-xs);
  margin: var(--spacing-md) 0;
  width: 100%;
  max-width: 22rem;
}

.row {
  display: flex;
  gap: var(--spacing-xs);
  justify-content: center;
  width: 100%;
}

.cell {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.125rem solid var(--color-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-text);
}

.cell.correct {
  background: var(--color-correct);
  border: 0.125rem solid var(--color-light-gray);
}

.cell.present {
  background: var(--color-present);
  border: 0.125rem solid var(--color-light-gray);
}

.cell.absent {
  background: var(--color-absent);
  border: 0.125rem solid var(--color-light-gray);
}

@media (max-width: 30rem) {
  .grid {
    margin: 0 auto;
    width: 100%;
    max-width: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row {
    gap: 0.15rem;
    margin-bottom: 0.15rem;
  }

  .cell {
    width: calc(20vw - 0.6rem);
    height: calc(20vw - 0.6rem);
    font-size: calc((20vw - 0.6rem) * 0.4);
    border-width: 0.1rem;
  }
}
