.app {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 100vh;
}

.app > #logo {
  width: 80%;
  max-width: 30rem;
  height: auto;
}

.game-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg);
  margin: var(--spacing-lg);
}

.game-container {
  width: 100%;
  padding: var(--spacing-lg);
  border-radius: var(--radius-md);
  background: linear-gradient(180deg, #2a2a2c, #000);
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 20rem;
  margin: var(--spacing-md) auto;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
  border-radius: var(--radius-sm);
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--color-background-medium);
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
}

.game-over > .button {
  cursor: pointer;
  font-size: 1.25rem;
  padding: var(--spacing-md);
  width: fit-content;
  border-radius: var(--radius-sm);
  background-color: var(--color-background-dark);
}

.game-over > .button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.game-over > #announcement {
  font-size: 1.5rem;
}
